{
  "root": true,
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "env": {
    "commonjs": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
